//оформление универсальных блоков, которые есть на всех страницах
@use "../base/variables" as *

.hide
  display: none

.r_corners, .r_corners:hover, .r_corners:active, .r_corners:focus
  border-radius: 1.5em
  overflow: hidden

.flex
  display: flex
.jc-center
  justify-content: center
.jc-space-between
  justify-content: space-between
.flex-column
  flex-direction: column
.ai-center
  align-items: center

