//стиль корневого элемента. базовый размер шрифта
@use "variables" as *
html
  font-size: 62.5%
  font-family: $font
  color: $text
  background-color: $bg
  min-width: 375px
  overflow-x: hidden
  @media (max-width: 1000px)
    font-size: calc(4.2px + 0.563vw)
  @media (max-width: 1000px) and (orientation: portrait)
    font-size: calc(4.85px + 0.515vw)
body
  overflow-x: hidden
  max-width: 100%
  min-width: 375px
  ::selection
    background: $accent
    color: $white
